{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
    <div class="features">
        <h1>Веб-площадка размещения</h1>
        <h2>услуг</h2>
        <h3>репетиторов</h3>
    </div>

    <div class="image-container2">
        <img src="{% static 'main/img/logomove.svg' %}" alt="bigmove" class="fixed-image10">
        <img src="{% static 'main/img/logo.svg' %}" alt="notmove" class="fixed-image11">
    </div>
    <div class="image-container">
        <img src="{% static 'main/img/text1.svg' %}" alt="text1" class="fixed-image4">
        <img src="{% static 'main/img/text2.svg' %}" alt="text2" class="fixed-image5">
        <img src="{% static 'main/img/circle2.svg' %}" alt="circle2" class="fixed-image6">
        <img src="{% static 'main/img/textik.svg' %}" alt="textik" class="fixed-image7">
        <img src="{% static 'main/img/textik2.svg' %}" alt="textik2" class="fixed-image8">
        <img src="{% static 'main/img/lines.svg' %}" alt="lines" class="fixed-image9">
        <img src="{% static 'main/img/waves.svg' %}" alt="waves" class="waves">
    </div>

{% endblock %}
