{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="profile">
      <div class="div">
        <div class="rectangle">
          <div class="rectangle-2">
            <div class="name">Манякин Даниил<br />Никитович</div>
            <div class="rectangle-group-2">
              <img class="photo" src="img/57889-3.png" />
              <div class="ellipse"></div>
              <div class="ellipse-2"></div>
              <div class="ellipse-3"></div>
              <div class="ellipse-4"></div>
              <div class="ellipse-5"></div>
              <div class="ellipse-6"></div>
            </div>
          </div>
          <div class="rectangle-group">
            <button class="edit">Редактировать
              <img class = "edit" src="{% static 'main/img/editprofile.svg' %}" />
            </button>
          </div>
          <div class="title">Профиль</div>
          <div class="settings">Настройки</div>
          <div class="email-title">Email</div>
          <div class="theme">Тема</div>
          <div class="notification">Уведомления</div>
          <div class="phone-title">Телефон</div>
          <div class="birthday-title">Дата рождения</div>
          <div class="contact-title">Связь</div>
          <div class="email">ikonikdd@gmail.com</div>
          <div class="birthday">09.03.2003</div>
          <div class="phone">7 (999) 999-99-99</div>
          <div class="contact">t.me/declare7</div>
          <div class="theme-switch">
              <input type="checkbox" id="theme-toggle">
              <label for="theme-toggle"></label>
              <img src="{% static 'main/img/themelight.svg' %}" id="themeImage"/>
          </div>
          <div class="notification-switch">
              <input type="checkbox" id="notification-toggle">
              <label for="notification-toggle"></label>
              <img src="{% static 'main/img/notificationoff.svg' %}" id="notificationImage"/>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'main/js/themeswitch.js' %}"></script>
    <script src="{% static 'main/js/notificationswitch.js' %}"></script>
{% endblock %}