{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/catalog2.css' %}">
{% endblock %}

{% block content %}

<button class="upload-image-btn" id="openModalBtn" style="cursor: pointer;">Разместить объявление</button>

<a href="/posts/"><img src="{% static 'main/img/addpost.svg' %}" class="addpostBtn" alt="post"></a>
<div id="overlay" class="overlay"></div>
<div id="modal" class="modal-content">
    <button class="close-btn" id="closeModalBtn">&times;</button>
    <h2>Добавить преподавателя</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'add_prepod' %}">
        {% csrf_token %}
        {% if subjects %}
        <select name="subject" id="subject" required>
            <option value="" disabled selected>Выберите предмет</option>
            {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <p>Нет доступных предметов для выбора</p>
        {% endif %}
        <textarea name="description" rows="4" placeholder="Описание" required></textarea>
        <button type="submit">Отправить на модерацию</button>
    </form>
</div>

<div>
    <div class="firsttextheaderimg">Ваша подготовка в наших руках</div>
    <div class="secondtextheaderimg">Изучайте ваш любимый
        предмет с профессионалами
    </div>
    <img class="headimg" src="{% static 'main/img/headimg.svg' %}" alt="imgboy">
</div>
<div class="container4">
    <p>Преподаватели /</p>
</div>
<div class="searchbtnm">Найти</div>
<div id="filterButtonContainer"></div>
<div><input type="text" id="searchInput" placeholder="Введите имя преподавателя" class="searchM"
            onkeyup="filterSearch()"></div>
<div class="filterobject">
    <button type="button" onclick="filterBySubject('Русский язык')">Русский язык</button>
    <button type="button" onclick="filterBySubject('Профильная математика')">Профильная математика</button>
    <button type="button" onclick="filterBySubject('Английский язык')">Английский язык</button>
    <button type="button" onclick="filterBySubject('Python')">Python</button>
    <button type="button" onclick="filterBySubject('Информатика')">Информатика</button>
    <button type="button" onclick="filterBySubject('JavaScript')">JavaScript</button>
    <button type="button" onclick="filterBySubject('Химия')">Химия</button>
    <button type="button" onclick="filterBySubject('Биология')">Биология</button>
    <button type="button" onclick="filterBySubject('Физика')">Физика</button>
    <button type="button" onclick="filterBySubject('История')">История</button>
    <button type="button" onclick="filterBySubject('Обществознание')">Обществознание</button>
    <button type="button" onclick="filterBySubject('Литература')">Литература</button>
    <button type="button" onclick="filterBySubject('UX/UI Дизайн')">UX/UI Дизайн</button>
    <button type="button" onclick="filterBySubject('Немецкий язык')">Немецкий язык</button>
    <button type="button" onclick="filterBySubject('География')">География</button>
    <button type="button" onclick="filterBySubject('Астрономия')">Астрономия</button>
    <button type="button" onclick="filterBySubject('Робототехника')">Робототехника</button>
    <button type="button" onclick="filterBySubject('Социология')">Социология</button>
    <button type="button" onclick="filterBySubject('HTML/CSS')">HTML/CSS</button>
    <button type="button" onclick="filterBySubject('Экономика')">Экономика</button>
    <button type="button" onclick="filterBySubject('Базы данных')">Базы данных</button>
</div>
<div>
    <div id="resultsContainer">
        {% for el in catalog2 %}
        <div class="containerPrepods">
            <div class="alert">
                <div class="divider"></div>
                <h3 class="FIO">{{ el.user.last_name }} {{ el.user.first_name }} {{ el.user.middle_name }}</h3>
                <div class="subject-wrapper">
                    <p class="subject">{{ el.subject }}</p>
                </div>
                <p class="desc">{{ el.description }}</p>
                <p class="age">{{ el.user.get_age }}</p>
                <p class="rating">{{ el.rating }}</p>
                <img src="{% static 'main/img/ratingEllipse.svg' %}" alt="rating" class="ratingEllipse">

                <a href="{% url 'chat_view' receiver_id=el.user.id %}" target="_blank">
                    <img src="{% static 'main/img/button.svg' %}" alt="button" class="button">
                </a>
                {% if el.user.avatar %}
                <img src="{{ el.user.avatar.url }}" alt="{{ el.user.get_display_name }}"
                     style="width: 121px; height: 121px; border-radius: 50%; object-fit: cover;" class="avatar">
                {% else %}
                <p>Нет изображения</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="loadingIndicator">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="space-bottom"></div>

<script>
    // Функция для получения значения параметра из URL
function getQueryParam(param) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(param);
}

document.addEventListener('DOMContentLoaded', () => {
    const filterValue = getQueryParam('filter'); // Получаем значение параметра filter
    if (filterValue) {
        filterBySubject(filterValue); // Автоматически вызываем фильтрацию
    }
});

</script>

<script src="{% static 'main/js/search.js' %}"></script>
<script src="{% static 'main/js/addprepod.js' %}"></script>
<script src="{% static 'main/js/logreg.js' %}"></script>
<script src="{% static 'main/js/reg.js' %}"></script>
<script src="{% static 'main/js/upload.js' %}"></script>
{% endblock %}
