{% load static %}

<head>
    <title>Videocall</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/videocall.css'%}">
</head>
<body>
<h3 id="label-username">Username</h3>
<div><input id="username">
    <button id="btn-join"> Join Room</button>
</div>
<div class="main-grid-container">
    <div id="video-container">
        <div><video id="local-video" style="float: left;" autoplay playsinline></video> </div>
        <button id="btnToggleAudio">Audio Mute</button>
        <button id="btnToggleVideo">Video off</button>
    </div>
    <div id="chat">
        <h3>Chat</h3>
        <div id="messages">
            <ul id="messgae-list"></ul>
        </div>
        <div>
            <input id="msg"><button id="bts-send-msg">Send Message</button>
            <button id="btn-share-screen">Share Screen</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'main/js/videocall.js' %}"></script>
</body>