{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block style %}

{% endblock %}
{% block content %}
    <img src="{% static 'main/img/ell.svg' %}" alt="ell" class="fixed-image" draggable="false">
    <img src="{% static 'main/img/upload.svg' %}" id="openModalBtn" class="upload-image-btn" style="cursor: pointer;">
    <a href="/posts/"><img src="{% static 'main/img/addpost.svg' %}" class="addpostBtn" alt="post"></a>



    <div id="overlay" class="overlay"></div>
    <div id="modal" class="modal-content">
        <button class="close-btn" id="closeModalBtn">&times;</button>
        <h2>Добавить преподавателя</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Поле для ФИО" required>
            <input type="text" name="subject" placeholder="Предмет преподавателя" required>
            <textarea name="description" rows="4" placeholder="Описание" required></textarea>
            <div style="display: flex; gap: 10px;">
                <input type="text" name="age" placeholder="Возраст" required>
                <input type="date" name="date" placeholder="Дата публикации" required>
            </div>
            <input type="number" name="rating" step="0.01" placeholder="Рейтинг" required>
            <input type="file" name="avatar" required>


            <input class="contactlink" type="url" name="contact_link" placeholder="Ссылка для связи" required>
            <button type="submit">Отправить на модерацию</button>
        </form>
    </div>

    <div class="image-container"></div>
    <div class="container4">
        <p>Преподаватели /</p>
    </div>
    <div><input type="text" id="searchInput" placeholder="Введите имя преподавателя" class="searchM" onkeyup="filterSearch()"></div>

    <div>
        <div id="resultsContainer">
            {% for el in catalog2 %}
            <div class="containerPrepods">
                <div class="alert">
                    <div class="divider"></div>
                    <h3 class="FIO">{{ el.title }}</h3>
                    <p class="subject">{{ el.subject }}</p>
                    <p class="desc">{{ el.description }}</p>
                    <p class="age">{{ el.age }}</p>
                    <p class="rating">{{ el.rating }}</p>
                    <img src="{% static 'main/img/ratingEllipse.svg' %}" alt="rating" class="ratingEllipse">
                    <img src="{% static 'main/img/subjectRec.svg' %}" alt="subjectRec" class="subjectRec">
                    {% if el.contact_link %}
                        <a href="{{ el.contact_link }}" target="_blank">
                            <img src="{% static 'main/img/button.svg' %}" alt="button" class="button">
                        </a>
                    {% else %}
                        <p>Ссылка не указана</p>
                    {% endif %}
                    {% if el.avatar %}
                          <img src="{{ el.avatar.url }}" alt="{{ el.title }}" style="max-width: 200px;" class="avatar">
                    {% else %}
                        <p>Нет изображения</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="space-bottom"></div>
    <script src="{% static 'main/js/search.js' %}"></script>
    <script src="{% static 'main/js/addprepod.js' %}"></script>
    <script src="{% static 'main/js/logreg.js' %}"></script>
    <script src="{% static 'main/js/reg.js' %}"></script>
    <script src="{% static 'main/js/upload.js' %}"></script>
{% endblock %}