.rectangle {
  position: absolute;
  width: 950px;
  height: 560px;
  top: 180px;
  left: 485px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px -4px 22px #00000040;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.rectangle6 {
  position: absolute;
  width: 950px;
  height: 800px;
  top: 86px;
  left: 485px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px -4px 22px #00000040;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
body.dark-theme .rectangle {
    background-color: #212121;
    box-shadow: 0px -4px 22px #00000040;
}

.yourchatstext {
    width: 147.0px;
    height: 41.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 212px;
    left: 887px;
    z-index: 15;
}
.yourchatstext2 {
    width: 147.0px;
    height: 41.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 99px;
    left: 934px;
    z-index: 15;
}

.krujok {
    width: 9.0px;
    height: 9.0px;
    flex-shrink: 0;
    background-color: #7396FC;
    border-radius: 100px;
    position: absolute;
    top: 218px;
    left: 1034px;
}
.krujok2 {
    width: 9.0px;
    height: 9.0px;
    flex-shrink: 0;
    background-color: #7396FC;
    border-radius: 100px;
    position: absolute;
    top: 105px;
    left: 989px;
    z-index: 5;
}

.nochats {
    width: 211.0px;
    height: 41.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 345px;
    left: 855px;
}

.nochatsunder {
    width: 560.0px;
    height: 27.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 402px;
    left: 700px;
}

.searchuser {
    width: 276.0px;
    height: 27.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 601px;
    left: 822px;
    z-index: 5;
}

.searchrec {
    width: 574.0px;
    height: 73.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #7396FC;
    position: absolute;
    top: 638px;
    left: 673px;
    z-index: 5;
}

.searchrec2 {
    width: 515px;
    height: 43px;
    border-radius: 15px;
    background: #FFF;
    position: absolute;
    top: 653px;
    left: 703px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 5;
}

.searchrec2 input {
    width: 100%;
    height: 100%;
    border: 0px solid transparent; /* Начальная прозрачная рамка */
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    transition: box-shadow 0.3s ease; /* Плавное изменение только тени */
    z-index: 5;
}

/* При фокусе на инпуте добавляем внутреннюю тень */
.searchrec2 input:focus {
    -webkit-box-shadow: 0px 0px 18px 12px rgba(115, 150, 252, 0.2) inset;
    -moz-box-shadow: 0px 0px 18px 12px rgba(115, 150, 252, 0.2) inset;
    box-shadow: 0px 0px 18px 12px rgba(115, 150, 252, 0.2) inset;
}

.startchat {
    width: 111.0px;
    height: 23.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #7396FC;
    position: absolute;
    top: 663px;
    left: 1090px;
    color: #FFF;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    border: none;
    outline: none;
    cursor: pointer;
}

.startchat2 {
    width: 111.0px;
    height: 23.0px;
    border-radius: 8px;
    flex-shrink: 0;
    background: #7396FC;
    position: absolute;
    top: 831px;
    left: 1090px;
    color: #FFF;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    border: none;
    outline: none;
    cursor: pointer;
}

.sinichel2 {
    position: absolute;
    top: 0px;
    left: 1136px;
    z-index: -100;
}

a {
    text-decoration: none;  /* Убирает подчеркивание */
    color: inherit;         /* Убирает синий цвет и наследует цвет родительского элемента */
}

a:hover {
    text-decoration: none;  /* Убирает подчеркивание при наведении */
    color: inherit;         /* Оставляет тот же цвет при наведении */
}


.chat-item a {
    text-decoration: none;      /* Убираем подчеркивание */
    color: inherit;             /* Сохраняем цвет текста, как у родителя */
}

.chat-item a:hover {
    text-decoration: none;      /* Убираем подчеркивание при наведении */
    color: inherit;             /* Сохраняем цвет текста при наведении */
}

.FIOtext {
    color: #242424;
    font-family: Manrope;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px;
}
.last-message {
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 140px;
    margin-top: -10px;
}
.chat-list {
    width: 617px;               /* Ширина контейнера для всех чатов */
    display: flex;              /* Flexbox для вертикального выравнивания */
    flex-direction: column;     /* Элементы располагаются вертикально */
    padding: 10px;              /* Внутренние отступы */
    max-height: 325px;           /* Ограничение по высоте */
    overflow-y: auto;           /* Прокрутка при необходимости */
    margin-left: 652px;
    margin-top: 263px;
    z-index: 3;
}

.chat-item {
    width: 100%;
    height: 91px;
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 10px;
    background-color: #fff;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.chat-item:hover {
    background-color: #EFF3FF;
    border-color: transparent;
}

.chat-divider {
    width: 200px;                  /* Ширина линии */
    min-height: 2px;               /* Минимальная высота линии, чтобы она всегда отображалась */
    background-color: #7396FC;     /* Цвет линии */
    align-self: center;            /* Центрирование линии */
    margin: 7.5px 0;               /* Отступы сверху и снизу */
    z-index: 4;
}

.tree2 {
    position: absolute;
    top: 327px;
    left: 1167px;
    z-index: 4;
}

.username {
    position: absolute;
    top: 50%; /* Опционально для центрирования по вертикали */
    left: 50%;
    transform: translate(-50%, -1850%); /* Центрирование по горизонтали и вертикали */
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 5;
}

#chat-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    max-height: 70vh;      /* Фиксированная высота для области прокрутки */
    overflow-y: auto;  /* Включаем вертикальную прокрутку */
    margin-top: 170px;
    position: relative; /* Для абсолютного позиционирования псевдоэлемента */
}

/* Добавляем псевдоэлемент-заполнитель */
#chat-box::after {
    content: "";               /* Пустой контент для псевдоэлемента */
    display: block;
    height: 100%;              /* Занимает оставшееся место */
    flex-shrink: 0;            /* Не дает сжиматься */
}

/* Оформление сообщений */
.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    background-color: #EFF3FF;
}

/* Полосы прокрутки в WebKit (для Chrome, Safari) */
#chat-box::-webkit-scrollbar {
    width: 10px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #7396FC;
    border-radius: 5px;
}

#chat-box::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 5px;
}

/* Сообщения текущего пользователя — справа */
.message.sent {
    align-self: flex-end;
    text-align: right;
    z-index: 5;
    max-width: 60%; /* Устанавливаем максимальную ширину сообщения */
    word-wrap: break-word; /* Разбиение слов на следующую строку, если не помещаются */
    background-color: #EFF3FF;
    color: #242424;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Сообщения собеседника — слева */
.message.received {
    background-color: #ffffff;
    align-self: flex-start;
    max-width: 60%; /* Устанавливаем максимальную ширину сообщения */
    word-wrap: break-word; /* Разбиение слов на следующую строку, если не помещаются */
    text-align: left;
    z-index: 5;
    color: #242424;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message p {
    margin: 5px 0;
    z-index: 5;
}

/* Оформление даты для сообщений, отправленных текущим пользователем (sent) */
.message.sent p small {
    font-size: 12px;
    color: #999;
    margin-right: 5px; /* Отступ справа от даты */
}

/* Оформление даты для сообщений собеседника (received) */
.message.received p small {
    font-size: 12px;
    color: #999;
    margin-left: 5px; /* Отступ слева от даты */
}

.message img, .message video {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 5px;
    z-index: 5;
}

.notification {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7396FC;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Добавляем задержку для visibility */
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
}

.notification:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

.recundertextarea {
    width: 525.0px;
    height: 53.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #7396FC;
    position: absolute;
    top: 816px;
    left: 698px;
}

.message-textarea {
    width: 515px;
    height: 43px; /* Минимальная высота */
    border-radius: 15px;
    background: #FFF;
    position: absolute;
    top: 821px;
    left: 703px;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 5;
    resize: none;
    border: none;
    outline: none;
}

.message-textarea input {
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    transition: box-shadow 0.3s ease;
    z-index: 5;
    white-space: pre-wrap; /* Поддержка переноса строк */
    word-wrap: break-word; /* Перенос слов по необходимости */
    overflow-wrap: break-word; /* Еще один вариант для переноса слов */
    overflow: hidden;
}

/* При фокусе на инпуте добавляем внутреннюю тень */
.message-textarea input:focus {
    -webkit-box-shadow: 0px 0px 18px 12px rgba(115, 150, 252, 0.2) inset;
    -moz-box-shadow: 0px 0px 18px 12px rgba(115, 150, 252, 0.2) inset;
    box-shadow: 0px 0px 18px 12px rgba(115, 150, 252, 0.2) inset;
}

.message-image-input, .message-video-input {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 7;
.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 7;
}

.submit-button:hover {
    background-color: #45a049;
    z-index: 7;
}

.searchM2 {
    position: absolute;
    width: 300px;
    height: 37px;
    border: none;
    background-color: #EFF3FF;
    left: 520px;
    border-radius: 20px;
    top: 110px;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    color: black;
    padding-right: 20px;
    padding-left: 50px;
    z-index: 500;
}
.searchM2::placeholder {
    position: absolute;
    color: black;
    margin-left: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.searchM2:focus::placeholder {
    opacity: 0;
}
.searchM2:focus {
    outline: none;
}
.close-chat-icon {
    position: absolute;
    top: 111px;
    left: 1383px;
    cursor: pointer;
    z-index: 1000;  /* Чтобы иконка была поверх всех других элементов */
}

}