.background {
    width: 1900px;
    height: 4000px;
    color: #212121;
    z-index: -1000;

}

body {
    background-color: #ffffff !important; /* Добавьте !important для приоритета */
    overflow-x: hidden; /* Убирает горизонтальный скроллбар */
}

body.dark-theme {
    background-color: #212121 !important;
}


.web-platform1 {
    width: 388.0px;
    height: 68.0px;
    color: #242424;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 174px;
    left: 204px;
    transition: color 0.3s ease;
}
body.dark-theme .web-platform1 {
    color: white;
}

.onlinebox {
    width: 418.0px;
    height: 53.0px;
    position: absolute;
    border-radius: 57px;
    transform: rotate(3.757deg);
    flex-shrink: 0;
    border-radius: 57px;
    border: 2px dashed #466EE5;
    background: rgba(70, 110, 229, 0.20);
    top: 250px;
    left: 186px;
    transition: top 0.3s ease, left 0.3s ease; /* Плавный переход для top и left */
}

.textinbox {
    position: absolute;
    color: #466EE5;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: -10px;
    left: 10px;
}

.rectangleinbox {
    position: absolute;
    width: 18px;
    height: 7px;
    top: 0px;
    left: 418px;
    transform: rotate(-30deg);
    flex-shrink: 0;
    border-radius: 15px;
    background: #466EE5;
}

.rectangleinbox2 {
    position: absolute;
    width: 30px;
    height: 7px;
    top: -20px;
    left: 399px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    border-radius: 15px;
    background: #466EE5;
}

.peopleline {
    position: absolute;
    width: 1920px;
    height: 374px;
    top: 406px;
    left: 0;
}

.people {
    position: absolute;
    width: 681px;
    height: 700px;
    top: 52px;
    left: 1015px;
}

.textunderonlinebox {
    width: 319.0px;
    height: 80.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 345px;
    left: 205px;
    position: absolute;
}

.skrepka {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 86px;
    left: 655px;
    animation: float 6s ease-in-out infinite;
    cursor: grab; /* Добавляем курсор захвата */
    transition: transform 0.1s; /* Плавный переход для трансформации */
    user-select: none; /* Отключаем выделение текста */
    -webkit-user-drag: none; /* Отключаем перетаскивание в WebKit (Chrome, Safari) */
    -moz-user-drag: none; /* Отключаем перетаскивание в Firefox */
    -ms-user-drag: none; /* Отключаем перетаскивание в IE */
    user-drag: none; /* Отключаем перетаскивание в других браузерах */
}

.skrepka:active {
    cursor: grabbing; /* Изменяем курсор на захваченный при перетаскивании */
    animation: none; /* Убираем анимацию при перетаскивании */
    transform: scale(1.2); /* Увеличиваем скрепку, когда она "в руке" */
}

.lineika {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 506px;
    left: 100px;
    animation: float 5s ease-in-out infinite;

}
.backpack {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 380px;
    left: 810px;
    animation: float 4s ease-in-out infinite;
}
.noj {
    position: absolute;
    width: 53px;
    height: 53px;
    top: 219px;
    left: 1757px;
    animation: float 3s ease-in-out infinite;
}
.dnevnik {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 397px;
    left: 1650px;
    animation: float 2s ease-in-out infinite;
}
.pen {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 53px;
    left: 1080px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Начальная и конечная позиция */
    }
    50% {
        transform: translateY(-10px); /* Поднятие вверх на 10 пикселей */
    }
}

.helptext {
    position: absolute;
    width: 738.0px;
    height: 68.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 591px;
    top: 940px;
}

body.dark-theme .helptext {
    color: white;
}

.linesunderhelptext {
    position: absolute;
    left: 1205px;
    top: 995.5px;
}

.rectangleupperhelptext {
    position: absolute;
    width: 30.4px;
    height: 7.0px;
    border-radius: 15px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    border-radius: 15px;
    background: #466EE5;
    top: 942.31px;
    left: 1310px;
    animation: wobble2 2s ease-in-out infinite;
}
.rectangleupperhelptext2 {
    position: absolute;
    width: 17.7px;
    height: 7.0px;
    border-radius: 15px;
    transform: rotate(-30deg);
    flex-shrink: 0;
    border-radius: 15px;
    background: #466EE5;
    top: 963.84px;
    left: 1333px;
    animation: wobble 2s ease-in-out infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-60deg);
    }
}

@keyframes wobble2 {
    0% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(-60deg);
    }
}

.leftimg {
    width: 45.0px;
    height: 400.0px;
    border-radius: 0px 30px 30px 0px;
    flex-shrink: 0;
    border-radius: 0px 30px 30px 0px;
    background: #466EE5;
    position: absolute;
    top: 1230px;
}
.rightimg {
    width: 45.0px;
    height: 400.0px;
    border-radius: 30px 0px 0px 30px;
    flex-shrink: 0;
    border-radius: 30px 0px 0px 30px;
    background: #466EE5;
    position: absolute;
    top: 1230px;
    left: 1875px;
}
.engimg {
    position: absolute;
    top: 1140px;
    left: 100px;
}
.ruimg {
    position: absolute;
    top: 1230px;
    left: 455px;
}
.informimg {
    position: absolute;
    top: 1140px;
    left: 810px;
}
.bioimg {
    position: absolute;
    top: 1230px;
    left: 1165px;
}
.historyimg {
    position: absolute;
    top: 1140px;
    left: 1520px;
}
.imgblock {
    position: relative; /* Позиционирование родительского блока */
}

.imgblock div {
    position: absolute; /* Каждое изображение позиционируется абсолютно */
}

.imgblock div img {
    transition: transform 1s ease, filter 1s ease; /* Плавная анимация для смещения и фильтра */
    cursor: pointer;
}


.imgblock div img.gray {
    filter: grayscale(100%); /* Фильтр для серого оттенка */
}

.imgblock div img.up {
    transform: translateY(90px); /* Смещение вниз на 90px для изображений, которые были выше */
}

.imgblock div img.down {
    transform: translateY(-90px); /* Смещение вверх на 90px для изображений, которые были ниже */
}
.ustal {
    width: 611.0px;
    height: 136.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 1770px;
    left: 190px;
}

body.dark-theme .ustal {
    color: white;
}
.bolshebox {
    width: 218.0px;
    height: 53.0px;
    border-radius: 57px;
    transform: rotate(3.757deg);
    flex-shrink: 0;
    border-radius: 57px;
    border: 2px dashed #466ee5;
    background: rgba(70, 110, 229, 0.20);
    position: absolute;
    top: 1854.99px;
    left: 402px;
}
.bigimg {
    position: absolute;
    top: 1979px;
    left: 720px;
}
.littleimg {
    position: absolute;
    top: 2819px;
    left: 190px;
}

.rec1logo {
    position: absolute;
    top: 2006px;
    left: 224px;
}
.rec2logo {
    position: absolute;
    top: 2426px;
    left: 224px;
}
.rec3logo {
    position: absolute;
    top: 2426px;
    left: 754px;
}
.rec4logo {
    position: absolute;
    top: 2426px;
    left: 1280px;
}
.rec5logo {
    position: absolute;
    top: 2836px;
    left: 738px;
}
.rec6logo {
    position: absolute;
    top: 2847px;
    left: 1277px;
}
.rec1text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2168px;
    left: 224px;
}
.rec2text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2588px;
    left: 224px;
}
.rec3text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2588px;
    left: 754px;
}
.rec4text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2588px;
    left: 1284px;
}
.rec5text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 3008px;
    left: 754px;
}
.rec6text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 3008px;
    left: 1284px;
}
.rec1header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2100px;
    left: 224px;
}

body.dark-theme .rec1header {
    color: white;
}
body.dark-theme .rec2header {
    color: white;
}
body.dark-theme .rec3header {
    color: white;
}
body.dark-theme .rec4header {
    color: white;
}
body.dark-theme .rec5header {
    color: white;
}
body.dark-theme .rec6header {
    color: white;
}

.rec2header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2520px;
    left: 224px;
}
.rec3header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2520px;
    left: 754px;
}
.rec4header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2520px;
    left: 1284px;
}
.rec5header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2940px;
    left: 754px;
}
.rec6header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2940px;
    left: 1284px;
}
.rec1 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 1986px;
    left: 190px;
}
.rec2 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2406px;
    left: 190px;
}
.rec3 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2406px;
    left: 720px;
}
.rec4 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2406px;
    left: 1250px;
}
.rec5 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2826px;
    left: 720px;
}
.rec6 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2826px;
    left: 1250px;
}