.background {
    width: 1900px;
    height: 3200px;
    color: #212121;
}

body {
    overflow-x: hidden; /* Убирает горизонтальный скроллбар */
    user-select: none; /* Современные браузеры */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
}
img, a {
    -webkit-user-drag: none; /* Safari */
    user-drag: none; /* Chrome */
}
body.dark-theme {
    background-color: #212121 !important;
}


/* Контейнер, который будет двигаться */
.containerscroll {
    position: relative;
    transition: transform 0.3s ease; /* Плавный переход */
}

/* Элементы внутри контейнера */
.web-platform1 {
    width: 388px;
    height: 68px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    top: 174px;
    left: 204px;
    position: absolute;
}

.onlinebox {
    width: 418px;
    height: 53px;
    border-radius: 57px;
    transform: rotate(3.757deg);
    border: 2px dashed #466EE5;
    background: rgba(70, 110, 229, 0.20);
    top: 250px;
    left: 186px;
    position: absolute;
}

.textinbox {
    position: absolute;
    color: #466EE5;
    font-family: Manrope;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    top: -10px;
    left: 10px;
}

.rectangleinbox {
    position: absolute;
    width: 18px;
    height: 7px;
    top: 0px;
    left: 418px;
    transform: rotate(-30deg);
    border-radius: 15px;
    background: #466EE5;
}

.rectangleinbox2 {
    position: absolute;
    width: 30px;
    height: 7px;
    top: -20px;
    left: 399px;
    transform: rotate(-60deg);
    border-radius: 15px;
    background: #466EE5;
}

.textunderonlinebox {
    width: 100%;
    font-size: 20px;
    color: #333;
    position: absolute;
    top: 350px;
    left: 50px;
    max-width: 900px;
}



.peopleline {
    position: absolute;
    width: 1920px;
    height: 374px;
    top: 406px;
    left: 0;
    z-index: -1001;
}

.huynya {
    background-color: white;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 850px;
    border-radius: 75px 75px 0px 0px;
}
body.dark-theme .huynya {
    background-color: #212121;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(40%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.video-container video.active {
    opacity: 1;
    z-index: 1;
}

.video-container video.inactive {
    z-index: 0;
}

.video-container video.no-transition {
    transition: none; /* Убираем анимацию для начальной загрузки */
    opacity: 1;
}

/* Индикаторы */
.indicator-container {
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 35%;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.indicator.active {
    width: 40px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    opacity: 35%;
}


.navbar-menug__link{
    color: white;
}
.brand-logog {
    color: white;
}
.phone-numberg {
    color: white;
}
.video-container {
    width: 100%; /* Ширина контейнера */
    height: 920px; /* Высота, оставляемая видимой */
    overflow: hidden; /* Скрываем всё, что выходит за границы */
    position: absolute;
    top: 0px;
    z-index: -1000;
}
.people {
    position: absolute;
    width: 681px;
    height: 700px;
    top: 52px;
    left: 1015px;
    z-index: -1001;
}
.logregbtng {
    background-color: white;
    color: black;
}
.textunderonlinebox {
    width: 380.0px;
    height: 80.0px;
    color: white;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 345px;
    left: 205px;
    position: absolute;
}

.skrepka {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 86px;
    left: 655px;
    animation: float 6s ease-in-out infinite;
    cursor: grab; /* Добавляем курсор захвата */
    transition: transform 0.1s; /* Плавный переход для трансформации */
    user-select: none; /* Отключаем выделение текста */
    -webkit-user-drag: none; /* Отключаем перетаскивание в WebKit (Chrome, Safari) */
    -moz-user-drag: none; /* Отключаем перетаскивание в Firefox */
    -ms-user-drag: none; /* Отключаем перетаскивание в IE */
    user-drag: none; /* Отключаем перетаскивание в других браузерах */
}

.skrepka:active {
    cursor: grabbing; /* Изменяем курсор на захваченный при перетаскивании */
    animation: none; /* Убираем анимацию при перетаскивании */
    transform: scale(1.2); /* Увеличиваем скрепку, когда она "в руке" */
}

.lineika {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 506px;
    left: 100px;
    animation: float 5s ease-in-out infinite;

}
.backpack {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 380px;
    left: 810px;
    animation: float 4s ease-in-out infinite;
}
.noj {
    position: absolute;
    width: 53px;
    height: 53px;
    top: 219px;
    left: 1757px;
    animation: float 3s ease-in-out infinite;
}
.dnevnik {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 397px;
    left: 1650px;
    animation: float 2s ease-in-out infinite;
}
.pen {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 53px;
    left: 1080px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Начальная и конечная позиция */
    }
    50% {
        transform: translateY(-10px); /* Поднятие вверх на 10 пикселей */
    }
}

.helptext {
    position: absolute;
    width: 738.0px;
    height: 68.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 591px;
    top: 940px;
}

body.dark-theme .helptext {
    color: white;
}

.linesunderhelptext {
    position: absolute;
    left: 1205px;
    top: 995.5px;
}

.rectangleupperhelptext {
    position: absolute;
    width: 30.4px;
    height: 7.0px;
    border-radius: 15px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    border-radius: 15px;
    background: #466EE5;
    top: 942.31px;
    left: 1310px;
    animation: wobble2 2s ease-in-out infinite;
}
.rectangleupperhelptext2 {
    position: absolute;
    width: 17.7px;
    height: 7.0px;
    border-radius: 15px;
    transform: rotate(-30deg);
    flex-shrink: 0;
    border-radius: 15px;
    background: #466EE5;
    top: 963.84px;
    left: 1333px;
    animation: wobble 2s ease-in-out infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-60deg);
    }
}

@keyframes wobble2 {
    0% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(-60deg);
    }
}

.imgblock {
    display: flex;
    overflow: hidden;
    position: relative;
    top: 950px;
    left: 0px;
}

.imgslide {
    display: flex;
    transition: transform 0.5s ease;

}

.img-card {
    position: relative;
    flex-shrink: 0;
    width: 300px;  /* Ширина каждой карточки */
    height: 400px; /* Высота карточки */
    margin: 25px;
    cursor: pointer;
    overflow: hidden; /* Обрезаем элементы, выходящие за пределы карточки */
    transition: transform 0.3s ease; /* Плавность для уменьшения */
    left: 70px;
}

.img-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Уменьшение карточки при наведении */
.img-card:hover {
    transform: scale(0.95); /* Уменьшаем размер карточки */
}

/* Оверлей с текстом и стрелкой */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Затемнение */
    display: flex;
    justify-content: center;
    align-items: center;  /* Центрируем текст по вертикали и горизонтали */
    opacity: 0; /* Изначально невидимый */
    border-radius: 30px; /* Радиус углов */
    transition: opacity 0.3s ease; /* Плавная анимация для изменения прозрачности */
}

/* Видимость оверлея при наведении */
.img-card:hover .overlay {
    opacity: 1; /* Появление оверлея */
}

/* Стиль текста и стрелки */
.overlay p {
    color: white;
    margin-bottom: 10px; /* Отступ снизу для текста */
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.arrow {
    color: white;
    font-size: 34px;
    position: absolute;
    top: 200px;
}



.leftimg {
    position: absolute;
    top: 1510px;
    left: 876px;
}

.rightimg {
    position: absolute;
    top: 1510px;
    left: 950px;
}

.ustal {
    width: 611.0px;
    height: 136.0px;
    color: #242424;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 1600px;
    left: 190px;
}

body.dark-theme .ustal {
    color: white;
}
.bolshebox {
    width: 218.0px;
    height: 53.0px;
    border-radius: 57px;
    transform: rotate(3.757deg);
    flex-shrink: 0;
    border-radius: 57px;
    border: 2px dashed #466ee5;
    background: rgba(70, 110, 229, 0.20);
    position: absolute;
    top: 1684.99px;
    left: 402px;
}
.bigimg {
    position: absolute;
    top: 1809px;
    left: 720px;
}
.littleimg {
    position: absolute;
    top: 2649px;
    left: 190px;
}

.rec1logo {
    position: absolute;
    top: 1836px;
    left: 224px;
}
.rec2logo {
    position: absolute;
    top: 2256px;
    left: 224px;
    z-index: 1;
}
.rec3logo {
    position: absolute;
    top: 2256px;
    left: 754px;
}
.rec4logo {
    position: absolute;
    top: 2256px;
    left: 1280px;
}
.rec5logo {
    position: absolute;
    top: 2666px;
    left: 738px;
}
.rec6logo {
    position: absolute;
    top: 2677px;
    left: 1277px;
}
.rec1text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 1998px;
    left: 224px;
}
.rec2text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2418px;
    left: 224px;
    z-index: 1;
}
.rec3text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2418px;
    left: 754px;
}
.rec4text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2418px;
    left: 1284px;
}
.rec5text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2838px;
    left: 754px;
}
.rec6text {
    width: 386.0px;
    height: 135.0px;
    color: #B5B5B5;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2838px;
    left: 1284px;
}
.rec1header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 1930px;
    left: 224px;
}

body.dark-theme .rec1header {
    color: white;
}
body.dark-theme .rec2header {
    color: white;
}
body.dark-theme .rec3header {
    color: white;
}
body.dark-theme .rec4header {
    color: white;
}
body.dark-theme .rec5header {
    color: white;
}
body.dark-theme .rec6header {
    color: white;
}

.rec2header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2350px;
    left: 224px;
    z-index: 1;
}
.rec3header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2350px;
    left: 754px;
}
.rec4header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2350px;
    left: 1284px;
}
.rec5header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2770px;
    left: 754px;
}
.rec6header {
    width: 408.0px;
    height: 41.0px;
    color: #000;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 2770px;
    left: 1284px;
}
.nadpis1 .rec1 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 1816px;
    left: 190px;
    transition: transform 0.3s ease-in-out; /* Плавная анимация для карточки */
    z-index: 2;
}

.nadpis1 .rec1logo,
.nadpis1 .rec1header,
.nadpis1 .rec1text {
    transition: transform 0.3s ease-in-out; /* Плавная анимация для всех дочерних элементов */
    transform-origin: center center; /* Центрируем точку трансформации для всех дочерних элементов */
}

.nadpis1 .rec1:hover {
    transform: scale(1.05) rotate(5deg); /* Увеличиваем и поворачиваем всю карточку */
}

/* Для логотипа, заголовка и текста при наведении */
.nadpis1 .rec1:hover .rec1logo,
.nadpis1 .rec1:hover .rec1header,
.nadpis1 .rec1:hover .rec1text {
    transform: scale(1.05) rotate(5deg); /* Применяем трансформацию ко всем дочерним элементам */
}
.nadpis2 .rec2:hover {
     transform: scale(1.05) rotate(5deg);
}
.nadpis3 .rec3:hover {
     transform: scale(1.05) rotate(5deg);
}
.nadpis4 .rec4:hover {
     transform: scale(1.05) rotate(5deg);
}
.nadpis5 .rec5:hover {
     transform: scale(1.05) rotate(5deg);
}
.nadpis6 .rec6:hover {
     transform: scale(1.05) rotate(5deg);
}


.rec2 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2236px;
    left: 190px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
.rec3 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2236px;
    left: 720px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
.rec4 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2236px;
    left: 1250px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
.rec5 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2656px;
    left: 720px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
.rec6 {
    width: 480.0px;
    height: 370.0px;
    border-radius: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #466EE5;
    box-shadow: 4px 1px 12.1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2656px;
    left: 1250px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}