* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.containerg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.web-platform1 {
    margin-bottom: 10px;
    color: #242424;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-weight: 600;
    transition: color 0.3s ease;
    margin-left: 200px;
    margin-top: 100px;
}

.onlinebox {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    margin-left: 180px;
    width: 418.0px;
    height: 53.0px;
    border-radius: 57px;
    transform: rotate(3.757deg);
    flex-shrink: 0;
    border: 2px dashed #466EE5;
    background: rgba(70, 110, 229, 0.20);
}

.textinbox {
    color: #466EE5;
    font-family: Manrope;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 10px;
}

.rectangleinbox {
    position: absolute;
    top: -10px;
    right: 0;
}

.rectangleinbox2 {
    position: absolute;
    top: -20px;
    right: 20px;
}

.textunderonlinebox {
    max-width: 100%;
}

/* Адаптивность */
@media (max-width: 1366px) {
    .containerg {
        max-width: 80%;
    }
}

@media (max-width: 1024px) {
    .containerg {
        max-width: 90%;
    }
    .web-platform1 {
        margin-left: 50px;
        font-size: 40px;
    }
    .onlinebox {
        margin-left: 40px;
        width: 340px;
    }
    .textinbox {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .containerg {
        max-width: 95%;
    }
    .web-platform1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .onlinebox {
        margin-left: 40px;
        width: 260px;
        height: 38px;
    }
    .textinbox {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .containerg {
        max-width: 100%;
    }
    .web-platform1 {
        margin-left: 50px;
        font-size: 40px;
    }

    .onlinebox {
        margin-left: 40px;
        width: 260px;
        height: 38px;
    }
    .textinbox {
        font-size: 25px;
    }

    .rectangleinbox,
    .rectangleinbox2 {
        position: static;
        margin: 5px;
    }

    .onlinebox {
        flex-direction: column;
        align-items: flex-start;
    }
}
