body {
    overflow-x: hidden; /* Убирает горизонтальный скроллбар */
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}
aside img {
    width: 160px;
    float: left;
    margin-top: center;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 90px;
    font-size: 25px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    transition: transform .1s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #466ee5;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features p {max-width: 400px; margin: 20px auto}

/* Шапка сайта */

/* Основная часть */
main .features {
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

}
main .features h2 {
    font-size: 38px;
    margin-right: 820px;
    margin-top: -15px;
}
main .features h3 {
    font-size: 38px;
    margin-right: 470px;
    margin-top: -53px;
    color: #466ee5;
}

h5 {

}
main .features p {
    max-width: 400px;
    margin: 20px auto;
}






.fixed-image {
    float: left;
    margin-top: -75px;
    position: absolute;
    -webkit-user-drag: none;
    user-drag: none;
}
.image-container {
    position: absolute;
    margin-left: 150px;
}
.image-container2 {
    position: relative;
    display: inline-block;
}
.fixed-image2 {
    position: absolute;
    float: left;
    margin-top: 100px;
    margin-left: 900px;
    border-radius: 350px;
    animation: scaleAnimationMini 3s infinite;
    -webkit-user-drag: none;
    user-drag: none;
}

@keyframes scaleAnimationMini {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.12);
    }
}



.fixed-image10 {
    position: absolute;
    float: left;
    margin-top: 255px;
    margin-left: 1046px;
    border-radius: 350px;
    animation: scaleAnimationBig 3s infinite;
    -webkit-user-drag: none;
    user-drag: none;
}

@keyframes scaleAnimationBig {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
}

.waves {
    position: absolute;
    margin-top: 2000px;
    margin-left: -200px;
}

.fixed-image11 {
    position: absolute;
    float: left;
    margin-top: 210px;
    margin-left: 1000px;
    border-radius: 350px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image3 {
    position: absolute;
    margin-top: 260px;
    margin-left: 260px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image4 {
    position: absolute;
    margin-top: 300px;
    margin-left: 150px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image5 {
    position: absolute;
    margin-top: 450px;
    margin-left: 150px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image6 {
    position: absolute;
    margin-top: 900px;
    margin-left: 1380px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image7 {
    position: absolute;
    margin-top: 950px;
    margin-left: 80px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image8 {
    position: absolute;
    margin-top: 1800px;
    margin-left: 80px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image9 {
    position: absolute;
    margin-top: 0px;
    margin-left: -155px;
    z-index: -1;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image12 {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image13 {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
    -webkit-user-drag: none;
    user-drag: none;
}
.fixed-image14 {
    position: absolute;
    margin-top: 80px;
    margin-left: 420px;
    -webkit-user-drag: none;
    user-drag: none;
}
.containerPrepods {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: -105px;

}
.divider {
    width: 950px;
    height: 2px;
    background-color: #d3d3d3;
    margin-bottom: 10px;
    margin-left: 100px;
}

.alert {
    top: 600px;
    left: 437px;
    flex: 1 1 300px;
    margin: 0;
}

.avatar {
    margin-top: 40px;
    display: block;
    margin-left: 120px;

}

.FIO {
    position: absolute;
    margin-top: 50px;
    margin-left: 280px;
    color: black;
    font-size: 34px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;

}

.desc {
    position: absolute;
    color: grey;
    font-family: 'Manrope', sans-serif;
    max-width: 700px;
    margin-top: 100px;
    margin-left: 320px;
}
.ratingEllipse {
    position: absolute;
    margin-left: 110px;
    margin-top: 30px;
}
.rating {
    position: absolute;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    z-index: 1;
    margin-left: 119px;
    margin-top: 38px;
}
.age {
    position: absolute;
    color: black;
    font-family: 'Manrope', sans-serif;
    margin-top: 130px;
    margin-left: 240px;
}


.button {
    position: absolute;
    margin-left: 700px;
    margin-top: 100px;
}
.container4 {
    position: absolute;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    top: 78px;
    left: 397px;
    font-size: 31px;
}

.searchM {
    position: absolute;
    width: 1023px;
    height: 37px;
    border: none;
    background-color: #f3f3f3;
    left: 449px;
    border-radius: 20px;
    top: 484px;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: black;
    padding-right: 20px;
    padding-left: 50px;
}
.searchM::placeholder {
    position: absolute;
    color: black;
    margin-left: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.searchM:focus::placeholder {
    opacity: 0;
}
.searchM:focus {
    outline: none;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.overlay.show {
    display: block;
    opacity: 1;
}


.modal-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: black;
    z-index: 1001;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    width: 600px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-content.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    color: black;
}

.modal-content button {
    padding: 5px 5px;
    background-color: #466ee5;
    border: none;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 374px;
    transition: background-color 0.8s ease;
}

.modal-content button:hover {
    background-color: black;
    color: white;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.warning-icon {
    display: none;
    margin-left: 5px;
    color: red;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 50px;
}
.containerP {
    margin-bottom: 50px;
}
.logreg {
    display: block;
    cursor: pointer;
    margin-left: 1470px;
    position: absolute;
    margin-top: 0px;
}
.logreg-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1001;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    width: 400px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.logreg-content.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.logreg-content input,
.logreg-content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #212121;
    color: white;
}

.logreg-content button {
    padding: 5px 5px;
    background-color: black;
    border: none;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 147px;
    transition: background-color 0.8s ease;
}

.logreg-content button:hover {
    background-color: white;
    color: black;
}

/* Стили для модального окна */
.container {
  display: none; /* Скрыто по умолчанию */
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content2 {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 940px;
  height: 534px;
}
.modal-content3 {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 940px;
    height: 534px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-email {
    border-radius: 50px;
}

.container button.declare {
    background-color: transparent;
    border-color: #fff;
}

.edit-btn {
    position: absolute;
    margin-left: 400px;
    margin-top: 17px;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.addpostBtn {
    position: absolute;
    margin-left: 1300px;
    margin-top: 240px;
}

.headimg {
    width: 1119px;
    height: 273px;
    position: absolute;
    left: 410px;
    top: 148px;
}

.firsttextheaderimg {
    position: absolute;
    width: 251px;
    height: 23px;
    top: 259px;
    left: 445.75px;
    z-index: 1;
    font-family: 'Manrope', sans-serif;
    font-weight: light;
    color: white;
}

.secondtextheaderimg {
    position: absolute;
    width: 458px;
    height: 84px;
    top: 307px;
    left: 445.75px;
    z-index: 1;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 31px;
}

.filterobject {
    display: flex; /* Flexbox для горизонтального выравнивания */
    gap: 10px; /* Отступ между кнопками */
    position: absolute;
    top: 534px;
    left: 449px;
    flex-wrap: wrap;
    max-width: 950px;
}

/* Стили для кнопок */
.filterobject button {
    padding: 4px 8px; /* Внутренний отступ для кнопок */
    font-size: 14px; /* Размер шрифта */
    border: 1px solid black; /* Черная рамка вокруг кнопки */
    border-radius: 200px; /* Закругленные края */
    background-color: white; /* Белый фон */
    cursor: pointer; /* Курсор указывает, что элемент кликабелен */
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

/* Эффект при наведении */
.filterobject button:hover {
    background-color: #466EE5; /* Немного другой цвет фона при наведении */
    color: white;
    border-color: #466EE5;
}

.searchbtnm {
    width: 128.0px;
    height: 37.0px;
    border-radius: 0px 20px 20px 0px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    position: absolute;
    left: 1345px;
    top: 484px;
    z-index: 1;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 36px;
}
