/* 123 */

body.profile {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profile .profile-container{
    padding: 30px;
    margin: 55px auto;
    max-width: 1010px;
    max-height: 620px;
    height: 100%;
    width: 100%;
}

.profile .rectangle-container{
  display: flex;
  flex-direction: row;
  max-width: 950px;
  max-height: 560px;
  width: 100%;
  height: 100%;
}

.profile .rectangle {
  display: flex;
  max-width: 950px;
  max-height: 560px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px -4px 22px #00000040;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  opacity: 1;
}

body.dark-theme .profile .rectangle {
    background-color: #212121;
    box-shadow: 0px -4px 22px #00000040;
    opacity: 1;
}

.profile .rectangle-2 {
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 305px;
    max-height: 560px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #466EE5 0%, #799BFF 100%);
    border-radius: 15px 100px 70px 15px;
    overflow: hidden;
}

body.dark-theme .profile .rectangle-2 {
    background: linear-gradient(90deg, #2A438D 0%, #475A94 100%);
    opacity: 1;
}

.profile .name {
    max-width: 175.0px;
    max-height: 54.0px;
    width: 100%;
    height: 100%;
    font-family: Manrope;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    -webkit-user-drag: none;
    user-drag: none;
 }

.profile .name input {
    width: 163.0px;
    height: 30.0px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    -webkit-user-drag: none;
    user-drag: none;
    background-color: #799BFF;
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 5px;
    outline: none;
}

.profile .phone input,
.profile .birthday input,
.profile .email input,
.profile .contact input {
    width: 163.0px;
    height: 30.0px;
    top: 265px;
    left: 81px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    -webkit-user-drag: none;
    user-drag: none;
    background-color: #FFF;
    border-style: none;
    border-radius: 7px
}

.avatar {
    position: relative;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0;
    padding: 0;
}

.avatar:hover {
    box-shadow: 0 0px 15px white; /* Добавляем тень при наведении */
}

.profile .photo {
  position: absolute;
  width: 127px;
  height: 127px;
  top: 0;
  left: 2px;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .ellipse {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 119px;
  background-color: #ffd800;
  border-radius: 5px;
}

.profile .ellipse-2 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 105px;
  left: 118px;
  background-color: #ffd800;
  border-radius: 2.5px;
}

.profile .ellipse-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 78px;
  left: 0;
  background-color: #ffd800;
  border-radius: 5px;
}

.profile .ellipse-4 {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 3px;
  left: 116px;
  background-color: #ffd800;
  border-radius: 1px;
}

.profile .ellipse-5 {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 17px;
  left: 127px;
  background-color: #466ee5;
  border-radius: 3.5px;
}

.profile .ellipse-6 {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 110px;
  left: 1px;
  background-color: #466ee5;
  border-radius: 3.5px;
}

.profile .avatar-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0;
}

.profile .rectangle5{
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 576px;
    max-height: 474px;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 12px 20px;
}

.profile .rectangle3{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 576px;
  max-height: 329px;
  width: 100%;
  height: 100%;
}

.profile .top-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile .switch-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
}

.profile .row{
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 19px;
  column-gap: 57px;
  align-items: center;
  width: 100%;
}

.profile .rectangle-group {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  max-width: 143px;
  max-height: 23px;
  width: 100%;
  height: 100%;
}

.profile .rectangle4{
    max-width: 406px;
    max-height: 79px;
    width: 100%;
    height: 100%;
    margin-top: 36px;
}

.profile .edit {
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 5px;
  font-family: Manrope;
  font-weight: 500;
  color: #242424;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

.profile .edit img {
  margin-top: 4px;
  max-width: 15px;
  max-height: 15px;
  width: 100%;
  height: 100%;
}

.profile .iconamoon-edit-light {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 116px;
}

.profile .title {
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .settings {
  margin-top: 33px;
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .email-title {
  margin-top: 6px;
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .theme {
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .notification {
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .phone-title {
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .birthday-title {
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .contact-title {
  font-family: Manrope;
  font-weight: 400;
  color: #242424;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.dark-theme .profile .title,
.dark-theme .profile .edit,
.dark-theme .profile .settings,
.dark-theme .profile .email-title,
.dark-theme .profile .theme,
.dark-theme .profile .notification,
.dark-theme .profile .phone-title,
.dark-theme .profile .birthday-title,
.dark-theme .profile .contact-title {
    color: white; /* Цвет текста для темной темы */
}

.profile .email {
  font-family: Manrope;
  font-weight: 400;
  color: #b4b4b4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
}

.profile .birthday {
  font-family: Manrope;
  font-weight: 400;
  color: #b4b4b4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
}

.profile .phone {
  font-family: Manrope;
  font-weight: 400;
  color: #b4b4b4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
}

.profile .contact {
  font-family: Manrope;
  font-weight: 400;
  color: #b4b4b4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  -webkit-user-drag: none;
  user-drag: none;
}

.profile .theme-switch {
  margin-top: 19px;
  display: flex;
  aligh-items: center;
  justify-content: flex-start;
  position:relative;
  width: 68px;
  height: 33px;
}

.profile .theme-switch input {
  display: none;
}

.profile .theme-switch label {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-color: #466ee5;
  border-radius: 41px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.profile .theme-switch label::after{
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile .theme-switch img{
  position: absolute;
  top: 5px;
  left: 39px;
  width: 22px;
  height: 22px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .theme-switch input:checked + label {
  background-color: white;
}

.profile .theme-switch input:checked + label::after{
  transform: translateX(33px);
  background-color: #242424;
}

.profile .theme-switch input:checked ~ img{
  position: absolute;
  top: 8px;
  left: 11px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.profile .notification-switch {
  margin-top: 19px;
  display: flex;
  aligh-items: center;
  justify-content: flex-start;
  position:relative;
  width: 68px;
  height: 33px;
  background-color: #466ee5;
  border-radius: 41px;
}

.profile .notification-switch input {
  display: none;
}

.profile .notification-switch label {
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B5B5B5;
  border-radius: 41px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile .notification-switch label::after{
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile .notification-switch img{
  position: absolute;
  top: 7px;
  left: 38px;
  width: 20px;
  height: 20px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

.profile .notification-switch input:checked + label {
  background-color: #466ee5;
}

.profile .notification-switch input:checked + label::after{
  transform: translateX(33px);
}

.profile .notification-switch input:checked ~ img{
  position: absolute;
  top: 7px;
  left: 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

#avatarContainer {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    cursor: pointer;
}

#avatarContainer:hover::after {

}
.avatar:hover {
    border: none; /* Убираем полоску при наведении */
}

.warningbox {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7396FC; /* Цвет по умолчанию для уведомлений */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Задержка для visibility */
}

.warningbox.hidden {
    opacity: 0;
    visibility: hidden;
}

.warningbox:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

/* Цвет фона для success */
.warningbox-success {
    background-color: #7396FC; /* Зеленый для успеха */
}

/* Цвет фона для warning */
.warningbox-warning {
    background-color: #7396FC; /* Оранжевый для предупреждения */
}

.sinichel2 {
    position: absolute;
    top: 307px;
    left: 0px;
    width: 253.0px;
    height: 253.0px;
    border-radius: 0px 0px 0px 15px;
}

.shariki {
    position: absolute;
    top: 310px;
    left: 573px;
    z-index: 10;
}

@media (max-width: 1080px) {
    .profile .edit{
        font-size: 11px;
    }

    .profile .title,
    .profile .email-title,
    .profile .phone-title,
    .profile .birthday-title,
    .profile .contact-title,
    .profile .email,
    .profile .phone,
    .profile .birthday,
    .profile .contact,
    .profile .notification,
    .profile .theme,
    .profile .name{
        font-size: 16px;
    }
}

@media (max-width: 890px) {
    .profile .row{
        grid-template-columns: 1fr; /* Одна колонка */
        grid-template-areas:
            "item1"
            "item3"
            "item2"
            "item4";
    }

    .profile .email-title {
        grid-area: item1;
    }

    .profile .email {
        grid-area: item3;
    }

    .profile .phone-title {
        grid-area: item2;
    }

    .profile .phone {
        grid-area: item4;
    }

    .profile .birthday-title {
        grid-area: item1;
    }

    .profile .birthday {
        grid-area: item3;
    }

    .profile .contact-title {
        grid-area: item2;
    }

    .profile .contact {
        grid-area: item4;
    }

    .profile .rectangle5{
        max-height: 1806px;
        height: 100%;
    }

    .profile .rectangle3{
        max-height: 477px;
        height: 100%;
    }

    .profile .rectangle4{
        max-height: 106px;
        height: 100%;
    }

    .profile .rectangle{
        max-height: 760px;
        height: 100%;
    }

    .profile .rectangle-container{
        max-height: 760px;
        height: 100%;
    }

    .profile .profile-container{
        max-height: 820px;
        height: 100%;
    }

    .profile .rectangle-2{
        max-height: 280px;
        height: 100%;
    }

    .profile .name{
        max-weight: 75px;
        weight: 100%;
        font-size: 13px;
    }


}

@media (max-width: 680px) {
    .profile .rectangle-container{
        display: block;
    }

    .profile .rectangle-2{
        max-width: 950px;
        width: 100%;
        border-radius: 15px;
    }

    #avatarContainer {
        margin-left: 0px;
        margin-top: 0px;
    }

    .profile .name{
        margin-left: 0px;
    }

    .profile .rectangle{
        max-height: 1020px;
        height: 100%;
    }

    .profile .rectangle-container{
        max-height: 1020px;
        height: 100%;
    }

    .profile .profile-container{
        max-height: 1080px;
        height: 100%;
    }

    .profile .rectangle4{
        margin-top: 0;
        padding: 7px;
    }

    .profile .rectangle5{
        max-width: 500px;
        width: 100%
    }

    .profile .settings{
        margin-top: 10px;
    }
}

@media (max-width: 420px) {
    .profile .notification{
        display: none;
    }

    .profile .theme{
        display: none;
    }
}

