{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Мессенджер{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="rectangle"></div>
<div class="yourchatstext">ваши чаты</div>
<div class="krujok"></div>
<img src="{% static 'main/img/tree.svg' %}" class="tree2">
<div class="chat-list">
    {% for chat in chat_data %}
    <a href="{% url 'chat_view' chat.chat_user.id %}" class="chat-item">
        <p class="FIOtext">{{ chat.chat_user.email }}</p>
        {% if chat.last_message %}
        <p class="last-message">{{ chat.last_message.content|truncatechars:30 }}</p>
        {% else %}
        <p class="last-message">Нет сообщений</p>
        {% endif %}
    </a>
    {% if not forloop.last %}
    <div class="chat-divider"></div>
    {% endif %}
    {% empty %}
    <div class="nochats">чатов пока нет</div>
    <div class="nochatsunder">Вы можете написать собеседнику, используя его Email</div>
    {% endfor %}
</div>

<div class="searchuser">Найти пользователя по Email</div>
<div class="searchrec"></div>
<div id="notification" class="notification hidden"></div> <!-- Контейнер для уведомления -->

<form method="post" id="chatForm">
    {% csrf_token %}
    <button type="submit" class="startchat">Начать чат</button>
    <div class="searchrec2"><input type="email" name="email" required></div>
</form>
<script>
document.getElementById("chatForm").addEventListener("submit", function(event) {
    event.preventDefault();  // Отменяем стандартное отправление формы

    const form = event.target;
    const formData = new FormData(form);

    fetch(form.action, {
        method: "POST",
        body: formData,
        headers: {
            "X-Requested-With": "XMLHttpRequest"
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            showNotification(data.error);  // Показываем уведомление с ошибкой
        } else {
            window.location.href = data.redirect_url;  // Перенаправляем на чат
        }
    })
    .catch(error => console.error("Ошибка:", error));
});

function showNotification(message) {
    const notification = document.getElementById("notification");
    notification.textContent = message;
    notification.classList.remove("hidden");

    // Убираем уведомление через 3 секунды после появления
    setTimeout(() => {
        notification.classList.add("hidden");
    }, 3000);
}
</script>
{% endblock %}